body {
  background-color: #181a1b;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
body > .base {
  background: #2a2d2f;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  margin: auto;
  width: 80%;
  padding: 10px;
}

.page {
  flex: 1;
}

.publicRooms {
  flex: 1;
  border-top: 1px solid #222426;
  border-bottom: 1px solid #222426;
  display: flex;
  flex-flow: column;
  background: #222426;
}

.publicRooms .header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: #eee;
}

.publicRooms .header header {
  flex: 1;
  margin-bottom: 0;
  padding-right: 0.5em;
}

.publicRooms .listContainer {
  position: relative;
}

.publicRooms .loading.section {
  position: absolute;
}

.publicRooms .list {
  padding: 1em;
}

.publicRooms .entry {
  display: flex;
  margin-bottom: 1em;
  border: 1px solid #09090940;
  /* background: #ffe6a4; */
  text-decoration: none;
  color: #3c3733;
  box-shadow: 0 0 0.5em rgba(0,0,0,0.05), 0 0.2em 0.5em rgba(0,0,0,0.05);
  /* transform: rotate(-2deg); */
}

/* .publicRooms .entry {
  background: #a565ff;
} */

.publicRooms .entry:hover {
  margin-top: -0.1em;
  margin-bottom: 1.1em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.05), 0 0.45em 0.5em rgba(0,0,0,0.05);
}

.publicRooms .entry:hover .cutout {
  border: 1px solid #888;
  border-right: transparent;
}

.publicRooms .entry:active {
  border: 1px solid #888;
  transition: none;
  margin-top: 0.1em;
  margin-bottom: 0.9em;
  box-shadow: none;
}

.publicRooms .entry:active .cutout {
  box-shadow: none;
}

.publicRooms .entry .info {
  flex: 1;
  padding: 0.5em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  margin: 0.3em;
  /* border: 2px dashed rgba(0, 0, 0, 0.20); */
  border-radius: 0.25em;
  border-right: none;
}

.publicRooms .entry .title {
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
  display: flex;
}

.publicRooms .entry .title .text {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75em;
  text-overflow: ellipsis;
}

.publicRooms .entry .roomCode {
  font-size: 0.6em;
  margin-left: 0.5em;
  background: #0000001f;
  padding: 0.25em 0.5em;
  border-radius: 1em;
}

.publicRooms .entry .playing {
  font-size: smaller;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.publicRooms .entry .stub {
  width: 3.5em;
  border-left: 2px solid #7c606082;
  display: flex;
  align-items: center;
  position: relative;
}

.publicRooms .entry .code {
  white-space: nowrap;
  transform: rotate(-90deg);
  font-weight: bold;
  transform-origin: center;
  color: rgba(0,0,0,0.3);
  margin-left: -0.25em;
  background: #5a555321;
  font-family: monospace;
  padding: 0 0.25em;
  font-size: 20px;
}

.home .publicRooms .filter {
  margin-right: 0.5em;
  display: none;
}

.home {
  display: flex;
  flex-flow: column;
}

@media (min-width: 800px) {
  .publicRooms .list {
    display: flex;
    flex-wrap: wrap;
  }

  .home .publicRooms .filter {
    display: block;
  }
}

@media (min-width: 800px) and (max-width: 999px) {
  .publicRooms .entry {
    width: calc(50% - 0.5em);
    margin-right: 1em;
  }

  .publicRooms .entry:not(:nth-of-type(2n)) {
    margin-right: 1em;
  }
}

@media (min-width: 1000px) {
  body {
    overflow-y: scroll;
  }

  body > .base {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
  }
  
  .publicRooms .entry {
    width: calc(23% - 0.5em);
    margin-right: 1em;
  }

  .publicRooms .entry:not(:nth-of-type(3n)) {
    margin-right: 1em;
  }
}
html{
  -ms-touch-action: none;
  -ms-content-zooming: none;
}
